<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">

        <div class="pb-3">
          <form enctype="multipart/form-data">
            <input type="file" name="image" id="image" (change)="selectImg($event)" />
            <button (click)="uploadImage()" class="btn btn-success">save</button>
          </form>
        </div>

        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" value="">
          </div>
          <div class="col-md-6"><label class="labels">Email</label><input type="text" class="form-control" value="">
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
